:root{
    --role-bg: rgb(65,102,171);
    --role-card-number-bg: rgb(133,233,150);
    --role-card-number: rgb(109,197,115);
    --role-zhongli:rgb(241,176,71);
    --role-lang:rgb(236,92,86);
    --role-haoren:rgb(107,184,249);
}